*{
    box-sizing: border-box;
}

/* font-family: 'Recursive', sans-serif;
font-family: 'Righteous', cursive;
font-family: 'Roboto', sans-serif; */
.tela-1 {
    width: 100vw;
    height: 100vh;
    background-color: #FB6B6B;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
/**********************Tela Inicial ***************************/
.tela-inicial{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo-inicial{
    width: 55px;
    height: 65px;
}

.nome-inicial{
    width: 152px;
    height: 35px;
    font-family: 'Righteous', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: -0.012em;
    color: #FFFFFF;
}

.botao-iniciar{
    width: 141px;
    height: 31px;
    margin-top: 73px;
    background-color: #FFFFFF;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao-iniciar p{
    width: 116px;
    height: 13px;
    font-family: 'Recursive', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #D70900;
}

