*{
    box-sizing: border-box;
}

/* font-family: 'Recursive', sans-serif;
font-family: 'Righteous', cursive;
font-family: 'Roboto', sans-serif; */
.root {
    width: 100vw;
    height: 100vh;
    background-color: #FB6B6B;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
    flex-wrap: wrap;
}
/**********************Tela Inicial ***************************/
.tela-inicial{
    margin-top: 148px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo-inicial{
    width: 136px;
    height: 161px;
}

.nome-inicial{
    width: 257px;
    height: 59px;
    margin-top: 13px;
    font-family: 'Righteous', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: -0.012em;
    color: #FFFFFF;
}

.botao-iniciar{
    width: 246px;
    height: 54px;
    margin-top: 73px;
    background-color: #FFFFFF;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.botao-iniciar p{
    width: 202px;
    height: 22px;
    font-family: 'Recursive', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #D70900;
}

/********************** Segunda Tela ***************************/

.titulo{
    margin-top: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 51px;

}
.titulo p{
    width: 203.17px;
    height: 44px;
    font-family: 'Righteous', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: -0.012em;

    color: #FFFFFF;

}

.container-deck{
    width: auto;
    height: 370px;
    position: fixed;
    overflow-y: scroll;
}

.deck {
    width: 300px;
    height: 65px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-bottom: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.deck img{
    width: 20px;
    height: 23px;
}

.deck p{
    width: 87px;
    height: 19px;
    font-family: 'Recursive', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    margin-left: 15px;
    margin-right: 163px;
}

.perguntaVirada{
    width: 299px;
    height: 131px;
    background-color: #FFFFD5;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-bottom: 25px;
    position: relative;
}

.perguntaVirada p{
    width: 247px;
    height: 44px;
    font-family: 'Recursive', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    margin-top: 18px;
    margin-left: 15px;
    position: absolute;
}

.perguntaVirada img{
    width: 30px;
    height: 20px;
    position: absolute;
    margin-top: 105px;
    margin-left: 254px;
    cursor: pointer;
}

/********************** Respostas dentro do card Tela ***************************/


.naoLembrei{
    width: 85.17px;
    height: 37.17px;
    position: absolute;
    background-color: #FF3030;
    border-radius: 5px;
    margin-left: 13px;
    margin-top: 87.83px;
    cursor: pointer;
}

.quaseLembrei{
    width: 85.17px;
    height: 37.17px;
    position: absolute;
    background-color: #FF922E;
    border-radius: 5px;
    margin-left: 105.91px;
    margin-top: 87.83px;
    cursor: pointer;
}

.lembrei{
    width: 85.17px;
    height: 37.17px;
    position: absolute;
    background-color: #2FBE34;
    border-radius: 5px;
    margin-left: 198.83px;
    margin-top: 87.83px;
    cursor: pointer;
}

.naoLembrei p{
    width: 65.04px;
    height: 37.17px;
    position: absolute;
    font-family: 'Recursive', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
    margin-top: 0px;
    margin-left: 10.84px;
}

.quaseLembrei p{
    width: 75.88px;
    height: 37.17px;
    position: absolute;
    font-family: 'Recursive', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
    margin-top: 0px;
    margin-left: 4.65px;
}

.lembrei p{
    width: 29px;
    height: 37px;
    position: absolute;
    font-family: 'Recursive', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
    margin-top: 0px;
    margin-left: 27.17px;
}

.vermelho p{
    color: #FF3030;
    text-decoration-line: line-through;
}

.amarelo p{
    color: #FF922E;
    text-decoration-line: line-through;
}

.verde p{
    color: #2FBE34;
    text-decoration-line: line-through;
}

.vermelho img {
    width: 23px;
    height: 23px;
}

.amarelo img {
    width: 23px;
    height: 23px;
}

.verde img {
    width: 23px;
    height: 23px;
}


/********************** Footer ***************************/

footer{
    width: 100vw;
    height: 70px;
    background-color: #FFFFFF;
    left: 0;
    bottom: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer p{
    width: 147px;
    height: 22px;
    font-family: 'Recursive', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
}
